<div class="container shadow-lg p-3 mb-5 bg-body rounded" style="width: 800px;">
  <div class="row mt-4" style="height: 500px;">
    <div class="col-12 col-sm">
      <div class="row bg-primary">
        <div class="col-9">
          <h3 class="text-light">BOOKS STORE</h3>
          <hr>
        </div>
        <div class="col-3">
          <button class="btn btn-success" data-bs-toggle="modal"
          data-bs-target="#ModalAdd"> Add New Book </button>
        </div>
      </div>

      <div class="row">
        <div class="col-md">
          <div class="column">
            <div class="table-container">
              <table class="table table-light table-hover" *ngIf='books && books.length'>
                <thead class="text-primary">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Publisher</th>
                    <th scope="col">Genere</th>
                    <th scope="col">Price</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let b of books; index as i ">
                    <th scope="row">{{i + 1}}</th>
                    <td>{{b.title}}</td>
                    <td>{{b.author}}</td>
                    <td>{{b.publisher}}</td>
                    <td>{{b.genere}}</td>
                    <td>{{b.price}}</td>
                    <td>
                      <a class="link-danger" href="" (click)="delete(b.codBook)">delete</a>/
                      <a class="link-warning-" href="" (click)="getId(b.codBook)" data-bs-toggle="modal"
                        data-bs-target="#ModalModificar">edit</a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="d-flex justify-content-right p-2">
                <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                  (pageChange)="get()">
                </ngb-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <div>
        <button class="btn btn-danger"(click)="exit()">Exit</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="ModalAdd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="staticBackdropLabel">Add Book</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-md">
              <div class="form-floating">
                <input type="text" class="form-control" [(ngModel)]="bookAdd.title" name="title">
                <label for="floatingInputGrid">Title</label>
              </div>
            </div>
            <div class="col-md">
              <div class="form-floating">
                <input type="text" class="form-control" [(ngModel)]="bookAdd.author" name="author">
                <label for="floatingInputGrid">Author</label>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md">
              <div class="form-floating">
                <input type="text" class="form-control" [(ngModel)]="bookAdd.publisher" name="publisher">
                <label for="floatingInputGrid">Publisher</label>
              </div>
            </div>
            <div class="col-md">
              <div class="form-floating">
                <input type="text" class="form-control" [(ngModel)]="bookAdd.genere" name="genere">
                <label for="floatingInputGrid">Genere</label>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md">
              <div class="form-floating">
                <input type="number" class="form-control" [(ngModel)]="bookAdd.price" name="price">
                <label for="floatingInputGrid">Price</label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-success" (click)="add()">Add</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="ModalModificar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="staticBackdropLabel">Updating Book</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-md">
              <div class="form-floating">
                <input type="text" class="form-control" [(ngModel)]="book.title" name="title">
                <label for="floatingInputGrid">Title</label>
              </div>
            </div>
            <div class="col-md">
              <div class="form-floating">
                <input type="text" class="form-control" [(ngModel)]="book.author" name="author">
                <label for="floatingInputGrid">Author</label>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md">
              <div class="form-floating">
                <input type="text" class="form-control" [(ngModel)]="book.publisher" name="publisher">
                <label for="floatingInputGrid">Publisher</label>
              </div>
            </div>
            <div class="col-md">
              <div class="form-floating">
                <input type="text" class="form-control" [(ngModel)]="book.genere" name="genere">
                <label for="floatingInputGrid">Genere</label>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md">
              <div class="form-floating">
                <input type="number" class="form-control" [(ngModel)]="book.price" name="price">
                <label for="floatingInputGrid">Price</label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-primary" (click)="update()">Update</button>
      </div>
    </div>
  </div>
</div>

