<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h3 class="fw-bold mb-2 text-uppercase">Login</h3>
                <br>
            <form [formGroup]="userForm"  class="sign-in-form">
              <div class="form-floating mb-3">
                <input type="text" id="userName" class="form-control" formControlName="userName"
                class="form-control" [ngClass]="{ 'is-invalid': form.userName.errors }"/>
                <label class="form-label" for="userName">User Name</label>
              </div>

              <div class="form-floating mb-3">
                <input type="password" id="password" class="form-control" formControlName="password"
                class="form-control" [ngClass]="{ 'is-invalid': form.password.errors }"/>
                <label class="form-label" for="password" >Password</label>
              </div>
              <button class="btn btn-outline-light btn-lg px-5" type="submit" (click)="onSubmit()">Login</button>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>